.emoji {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  border-radius: 50%;
  position: relative;
  filter: drop-shadow(5px 5px 10px rgb(190, 190, 190));
}

.eyes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  animation: infinite rolling 8s;
  transition: all 0.5s;
}

.eye {
  background-color: black;
  height: 30px;
  width: 25px;
  transition: all 0.5s;
  border-radius: 25px;
  animation: infinite 8s blink;
}

@keyframes rolling {
  40% {
    transform: translate(20px, 50px);
  }
  60% {
    transform: translate(70px, -30px);
  }
  80% {
    transform: translate(0px, 0px);
  }
}

@keyframes blink {
  0% {
    height: 30px;
    width: 25px;
  }
  15% {
    height: 35px;
    width: 20px;
  }
  20% {
    height: 35px;
    width: 20px;
  }
  60% {
    height: 35px;
    width: 20px;
  }
  70% {
    height: 35px;
    width: 25px;
  }
  85% {
    height: 10px;
    width: 25px;
  }
  100% {
    height: 30px;
    width: 25px;
  }
}
