.emoji {
  height: 250px;
  width: 250px;
  background-color: beige;
  border-radius: 50%;
  position: relative;
  filter: drop-shadow(5px 5px 10px rgb(190, 190, 190));
}

.eyes {
  border-radius: 50%;
  background-color: black;
  height: 30px;
  width: 20px;
}

.eye1 {
  position: absolute;
  top: 50px;
  left: 35%;
}

.eye2 {
  position: absolute;
  top: 50px;
  left: 55%;
}
